
/*
     FILE ARCHIVED ON 02:16:40 Dec 25, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:18:48 Aug 09, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.416
  exclusion.robots: 0.016
  exclusion.robots.policy: 0.008
  esindex: 0.009
  cdx.remote: 6.143
  LoadShardBlock: 182.804 (3)
  PetaboxLoader3.datanode: 60.124 (4)
  PetaboxLoader3.resolve: 314.191 (2)
  load_resource: 212.574
*/